<h1>Reset Password</h1>
<form method="post">
    <input type="password" name="password" required placeholder="New password">
    <button type="submit">Reset</button>
</form>
<p>
    <a href="{{ path('app_login') }}">Back to login</a>
</p>