{% extends 'base.html.twig' %}

{% block title %}Edit Ticket #{{ ticket.idTicket }}{% endblock %}

{% block body %}
    <h1>Edit Ticket</h1>
    {{ include('tickets/_form.html.twig', {'button_label': 'Update'}) }}
    
    <a href="{{ path('app_tickets_index') }}" class="btn btn-secondary">Back to list</a>
    {{ include('tickets/_delete_form.html.twig') }}
{% endblock %}