{% extends 'base.html.twig' %}

{% block title %}New Tickets{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Create New Ticket</h1>

        {% if form is defined and form.vars.errors|length > 0 %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {{ include('tickets/_form.html.twig', {'button_label': 'Create'}) }}

        <a href="{{ path('app_tickets_index') }}" class="btn btn-secondary mt-3">Back to list</a>
    </div>
{% endblock %}